<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API</title>
</head>
<body>
<h2>
    APIs
</h2>
<div style="display: inline-block; max-width: 300px; max-height: 300px; border-radius: 10px; border: 1px solid black; padding: 10px; margin: 10px">
    <h3>Initiate Purchase</h3>
    <hr>
    <a style="display: inline-block; margin-left: 10px" href="{% url 'shipping:rates' %}"><button style="background-color: red; color:white;" type="button">Hit Api</button></a>  <a style="display: inline-block; margin-left: 10px" href="{% url 'shipping:index' %}"><button style="background-color: yellow; color:black;" type="button">Instigate API</button></a>
</div>


</body>
</html>